body {
  width: 100%;
  height: 100%;
  margin: auto;
}
.menu_principal {
  width: 100%;
  background: #252323;
  height: 155px;
}

.logo{
  padding: 3px;
  float: left;
  width: 140px;
}

main {
  margin: 0 auto;
  position: relative;
  width: 980px;
}

.redeSocial ul li { 
  float: right;
  list-style: none; 
  display: flex;
  gap: 10px 20px;
  margin-top: 3%;
}

.redeSocial{
  padding: 12px;
  width: 80%;
  float: right;
}

.separador{
  list-style: none;
  padding: 0;
  width: 100%;
}

.header2{
  background-color: #000080;
  height: 60px;
  width: 100%;
  border-bottom: 3px solid #efefef;
}

.menu_secundario ul li{
  display: inline-block;
  margin-left: 10px;
}

.menu_secundario ul li a {
  color: #008000;
  text-decoration: none;
  font-size: 20px ;
  text-transform:uppercase ;
}

.menu_secundario{
  width: 70%;
  float: left;
}

.busca {
  width: 30%;
  float: right;
}
